[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
aprslib = "*"
haversine = "*"
numpy = "*"
pyserial = "*"
geojson = "*"
fastkml = "*"
requests = "*"
pyproj = "*"
psycopg2 = "*"
shapely = "*"

[requires]
python_version = "3.8"
